@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Climate+Crisis&family=Syne:wght@400;500;600;700;800&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Syne', Arial, sans-serif;
	scroll-behavior: smooth;
}
body {
    background-color: #ffffff;
    font: 16px 'syne', Arial, sans-serif;
    color: #1b1b1b;
}

a, a:link, a:visited, a:hover {
    color: #1d1d1b;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 20px;
}
    
::-webkit-scrollbar {
    background: none !important;
    
}
    
::-webkit-scrollbar-thumb {
    background-color:#1d1d1d;
    border: 6px solid transparent;
    border-radius: 10px;
    background-clip: content-box;
}

.featured-bar {
    height: 40px;
    background: #1d1d1d;
}

.featured-bar-text {
    text-align: center;
    margin: 0 auto;
    padding-top: 7px;
}
.featured-bar-text,.featured-bar a {
    font-family: 'Syne', Arial, sans-serif;
    color: #f9f3e8;
}
.logo {
    max-width: 85%;
    margin: 0 auto;
}


/* scroll Top/Up Button */
.scroll-top {
	z-index: 100;
	height: 40px;
	width: 40px;
	background-color: transparent;
	position: fixed;
	bottom: 10px;
	right: 10px;
	border-radius: 10px;
	transform: scale(0.9);
	transition: 0.3s ease-in-out transform;
	/* for centering the icon */
	/* display: flex; */
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.scroll-top:hover {
	color:#1d1d1b ;
	transform: scale(1);
}



/* <!-- CONTACT SIDE NAV--> */
.side-nav {
    position: fixed;
    top: 50%;
    right: 20px;
    z-index: 3000;
}
.side-nav a {
    font-size: 1.5em;
    color: #000000;
}

.side-nav a:hover {
    color: rgb(194, 228, 0);
}

/* <!-- NAV BAR--> */
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border-bottom: #111111 solid 2px;
    color: #111111;
    font-family: 'syne';
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 6em 0 6em;
}

.brand-title {
    margin: .5rem;
    /* display: flex;
    flex-direction: column-reverse;
    font-size: 1.5rem;
    align-items: center;
    font-family: 'Caprasimo';
    text-transform: lowercase; */
}

.navbar-links {
    height: 100%;
    
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #111111;
    padding: 1rem;
}

.navbar-links li a:hover {
    color: rgb(194, 228, 0);
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #111111;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}


button {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    padding: 5px 30px;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    line-height: 1.75em;
    font-family: 'Syne', Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -khtml-border-radius: 100px;
    background: #1f1e1e;
}

button:hover{
    background-color: rgb(194, 228, 0);
    color: #111111;
	transition: 0.6s;
	cursor: pointer;
}

/* <!-- SIOLA START--> */

hr {
    border: 0;
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    object-fit: contain;
    display: block;
    height: 10px;
}

.section-grey {
    height: auto;
    background-size: 1000px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.content-box2 {
    padding: 120px 0 20px 0;
    text-align: center;
}


.content-box-work {
    width: 47%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}

video, img {
    border-radius: 10px;
}

video.two {
    width: 100%;
}

video {
    max-width: 100%;
    height: auto;
}

img.one {
    max-width: 100%;
}

img.two {
    width: 50%;
}

.img-responsive {
    box-sizing: border-box;
    padding: 10px;
    /* float: left; */
}
.content-box-two-title {
    /* position: relative; */
    width: 80%;
    margin: 0 auto;
    font-size: 1.1em;
    top: 160px;
    text-align: left;
}

p {
    font-family: 'syne';
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    margin-bottom: 15px;
}

h1 {
    font-family: "syne", Arial, sans-serif;
    font-size: 3.5em;
    font-weight: 800;
    text-transform: uppercase;
}

h4 {padding:15px;
}

p {
    font-family: "syne", Arial, sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    margin-bottom: 15px;
}


/* <!-- FOOTER START--> */

.section-ftr-text {
    display: flex;
    margin: 0 auto;
    padding-top: 30px;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}
.section-abt-text p, .section-ftr-text p {
    text-transform: none;
    color: #181818;
    font-size: 1.5em;
    line-height: 1.5em;
}

.section-ftr {
    /* text-align: right; */
    position: relative;
}


.footer {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 35px;
    text-align: center;
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.footer a:hover {
    color: #f38910;
}

.pulse {
    -webkit-animation: pulse 2.5s infinite;
    animation: pulse 2.5s infinite;
    display: inline-block
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    14% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }

    28% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    42% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }

    70% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
/* <!-- FOOTER END--> */


.section-dv-top {
    background: url(assets/wave-border.png) repeat-x;
    background-size: 100%;
    height: 50px;
}
.section-dv-btm {
    background: url(assets/wave-border-btm.png) repeat-x;
    background-size: 100%;
    height: 90px;
}

.port-trivia {
    position: relative;
    background: #111111;
  }
  
.mySlides {
    display: none;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 2em;
  }
  

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: rgb(194, 228, 0);
  }



.help h1 {
    font-family: 'caprasimo';
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;

}
.me {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;

}

.me p {
    font-family: 'caprasimo';
    font-size: 3em;
}

.wip {
    font-family: 'caprasimo';
    font-size: 6em;
}

.me a:hover{
    color:#C6F806;
}
.please {
    max-width: 1100px;
    padding: 50px;
    margin: 0 auto;
    text-align: center;
}